/* Imported fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Open+Sans&display=swap');

/* Setting these style rule to 0 so I can add them to specific elements later on */
*{
    margin: 0;
    padding: 0;
    border: none;
}

/* Style for body font and background. Making the footer stays at the bottom of the page */
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #F8F9F9;
    background-color: #202916;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Styling the headings */
h2 {
    font-family: "Noto Sans Japanese", sans-serif;
    font-size: 190%;
    padding-top: 1%;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: underline;
    color: #F8F9F9;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 150%;
    letter-spacing: 1px;
    padding: 2% 1% 1%;
    text-align: center;
}

header {
    padding-bottom: 2%;
}

/* Styling the logo and making it sit nicely in the top left */
.logo {
    font-family: "Open Sans", sans-serif;
    color: #F8F9F9;
    float: left;
    font-size: 360%;
    padding-left: 0.5%;
    letter-spacing: 4px;
}

/* Style for the nav bar font, color and hover*/
.menu {
    font-size: 140%;
    letter-spacing: 1px;
}

.menu, .logo {
    line-height: 75px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 2%;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 2px solid #F8F9F9;
}

.active {
    border-bottom: 2px solid #F8F9F9;
}

/* Styling a flexbox for the hero image */
.hero-image {
    display: flex;
    width: 100%;
}

#hero-image {
    max-width: 100%;
    height: auto;
}

/* Styling for the about section elements to be an appropriate size and color */
.about {
    height: 100%;
    width: 100%;
    background-color: #3c4027;
    padding-bottom: 8%;
    clear: both;
}

.left-about {
    padding-top: 4%;
    width: 33%;
    float: left;
}

.left-about-text {
    width: 60%;
    float:  right;
    clear: both;
    line-height: 190%;
}

.left-about-text p {
    font-size: 110%;
    text-align: center;
}

.center-about {
    padding-top: 4%;
    width: 33%;
    margin: 0 auto;
}

.center-about-text {
    width: 60%;
    margin: 0 auto;
    line-height: 190%;
}

.center-about-text p {
    font-size: 110%;
    text-align: center;
}

.right-about {
    padding-top: 4%;
    width: 33%;
    float: right;
}

.right-about-text {
    width: 60%;
    float: left;
    clear: both;
    line-height: 190%;
}

.right-about-text p {
    font-size: 110%;
    text-align: center;
}

/* Style for the 'Rides' using flex containers to keep elements responsive to screen size */

.flex-container-0 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.flex-container-0 > * {
    margin: 6% 8% 3%;
    justify-content: center;
    flex: 1;
}

img {
    width: 100%;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 0 5% 5% 5%;
    font-size: 115%;
    line-height: 190%;
    text-align: center;
}

/* Sign Up section styling and booking form styling */

.sign-up {
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
    background-color: #3c4027;
    clear: both;
}

.sign-up p {
    text-align: center;
    padding-top: 4%;
    font-size: 110%;
    letter-spacing: 1px;
}

.booking-form {
    max-width: 20%;
    margin: 0 auto;
    padding-top: 3%;
    font-size: 130%;
    letter-spacing: 1px;
}

.input-box {
    border: 2px solid #F8F9F9;
    border-radius: 5px;
    background-color: transparent;
    color: #F8F9F9;
    margin: 3% 0 4% 0;
    width: 100%;
    height: 30px;
    font-size: 90%;
}

.submit-button {
    padding: 2%;
    margin-top: 5%;
    font-size: 110%;
    border-radius: 5px;
    text-align: center;
    display: block;
    color: #000000;
}

.submit-button:hover {
    background-color: #000000;
    color: #F8F9F9;
}

.conformation h2 {
    padding: 5%;
}

/* Styling for the footer and making sure it stays at the bottom of the screen */

footer {
    background-color: #202916;
    width: 100%;
    margin-top: auto;
}

.contacts {
    float: left;
    list-style-type: none;
    font-size: 110%;
    padding: 2% 0 1% 2%;
}

.socials {
    font-size: 220%;
    list-style-type: none;
    padding: 3% 2% 1% 0;
}

.socials li {
    float: right;
    list-style-type: none;
    padding-left: 10%;
}

.socials i {
    color: #F8F9F9;
}

.socials i:hover {
    color: #000000;
}

/* Photo styling for gallery.html, making sure they are easily visible */
#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    background-color: #202916;
    padding: 5% 0;
}

#photos > img {
    width: 100%;
}

/* Media Queries */

/* screen size for Nest Hub Max */
@media screen and (max-width: 1280px) {

    .logo {
        font-size: 300%;
    }

    .menu {
        font-size: 120%;
    }

    

    .left-about, .right-about, .center-about {
        float: left;
        width: 80%;
        padding-left: 10%;
    }

    .left-about-text, .right-about-text, .center-about-text {
       float: left;
       width: 100%;
       font-size: 110%;
    }
    
    .booking-form {
        max-width: 40%;
    }

    #photos {
        column-count: 2;
    }
}

/* screen size for iPad Pro */
@media screen and (max-width: 1024px) {

    .menu a:hover {
        border-bottom: none;
    }

    .contacts {
        font-size: 130%;
    }

    .socials {
        font-size: 260%;
    }
}

/* screen size for Surface Pro 7 */
@media screen and (max-width: 912px) {

    .logo {
        font-size: 340%;
    }

    .menu {
        font-size: 160%;
        clear: both;
    }

    .flex-container-0 {
        flex-direction: column;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-container > div {
        margin: 6% 5% 5%;
        font-size: 110%;
    }

    #photos {
        column-count: 2;
    }

    .socials {
        font-size: 250%;
    }

    .contacts {
        font-size: 120%;
    }
}

/* screen size for iPad Air */
@media screen and (max-width: 820px) {

    .logo {
        font-size: 320%;
    }

    .flex-container > div {
        margin: 3% 5% 5%;
    }

    #photos {
        column-count: 2;
    }

    .contacts {
        font-size: 110%;
    }

    .socials {
        font-size: 220%;
    }
}

/* screen size for Surface Duo */
@media screen and (max-width: 540px) {

    .logo {
        font-size: 220%;
    }
    
    .menu {
        font-size: 140%;
        clear: left;
    }

    #photos {
        column-count: 1;
    }

    .contacts {
        font-size: 100%;
    }

    .socials {
        font-size: 180%;
    }
}

/* screen size for iPhone XR */
@media screen and (max-width: 414px) {

    .logo {
        font-size: 200%;
    }
    
    .menu {
        font-size: 110%;
    }

    h2 {
        font-size: 160%;
        padding-top: 8%;
    }

    h3 {
        font-size: 140%;
    }

    .sign-up p {
        font-size: 100%;
    }

    .booking-form {
        font-size: 90%;
    }

    #photos {
        column-count: 1;
    }

    .contacts {
        font-size: 90%;
    }

    .socials {
        font-size: 150%;
    }
}

/* screen size for iPhone 12 Pro */
@media screen and (max-width: 390px) {

    .logo {
        font-size: 200%;
    }

    .menu {
        font-size: 120%;
    }

    .menu li {
        margin-right: 8%;
    }

    #photos {
        column-count: 1;
    }

    .contacts {
        font-size: 90%;
    }

    .socials {
        font-size: 150%;
    }
}

/* screen size for iPhoneSE */
@media screen and (max-width: 375px) {

    .logo {
        font-size: 190%;
    }

    .menu {
        font-size: 110%;
    }

    .menu li {
        margin-right: 8.5%;
    }

    .indoor-text, .outdoor-text {
        font-size: 100%;
    }

    .sign-up p {
        font-size: 90%;
    }
    
    .contacts {
        font-size: 90%;
    }

    .socials {
        font-size: 150%;
    }

    #photos {
        column-count: 1;
    }
}

/* screen size for Samsung Galaxy S8+ */
@media screen and (max-width: 360px) {
    
    .menu li {
        margin-right: 5%;
    }

    .left-about-text, .right-about-text, .center-about-text {
        font-size: 80%;
    }

    .flex-container {
        font-size: 80%;
    }

    .socials {
        font-size: 130%;
    }
}

/* screen size for Samsung Galaxy Fold */
@media screen and (max-width: 280px) {

    .menu {
        font-size: 105%;
    }

    .menu li {
        margin-right: 4%;
    }
}