@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: #F8F9F9;
    background-color: #202916;
}

h2 {
    font-family: Noto Sans Japanese, sans-serif;
    font-size: 190%;
    padding-top: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: underline;
    color: #F8F9F9;
}

h3 {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 150%;
    letter-spacing: 1px;
    padding: 40px 20px 20px 20px;
    text-align: center;
}

#logo {
    font-family: Open Sans, sans-serif;
    color: #F8F9F9;
    float: left;
    font-size: 360%;
    padding-left: 20px;
    letter-spacing: 4px;
}

#menu {
    font-size: 140%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #F8F9F9;
}

.active {
    border-bottom: 2px solid #F8F9F9;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-helena-lopes.jpg) no-repeat center center;
}

#about {
    height: 550px;
    width: 100%;
    background-color: #3c4027;
}

#left-about {
    padding: 50px;
    width: 33%;
    float: left;
}

.left-about-text {
    width: 60%;
    float:  right;
    clear: both;
    line-height: 30px;
}

.left-about-text p {
    font-size: 110%;
    text-align: center;
}

#center-about {
    padding: 50px;
    width: 33%;
    margin: 0 auto;
}

.center-about-text {
    width: 60%;
    margin: 0 auto;
    line-height: 30px;
}

.center-about-text p {
    font-size: 110%;
    text-align: center;
}

#right-about {
    padding: 50px;
    width: 33%;
    float: right;
}

.right-about-text {
    width: 60%;
    float: left;
    clear: both;
    line-height: 30px;
}

.right-about-text p {
    font-size: 110%;
    text-align: center;
}

#rides-info {
    height: 1070px;
    width: 100%;
    background-color: #202916;
}

#indoor-ride {
    padding-top: 100px;
    width: 45%;
    float: left;
}

.indoor-img {
    float: right;
    margin-right: 75px;
}

.indoor-text {
    width: 70%;
    font-size: 115%;
    line-height: 30px;
    float: right;
    text-align: center;
    clear: both;
}

#outdoor-ride {
    padding-top: 100px;
    width: 45%;
    float: right;
}

.outdoor-img {
    float: left;
    margin-left: 75px;
}

.outdoor-text {
    width: 70%;
    font-size: 115%;
    line-height: 30px;
    float: left;
    text-align: center;
    clear: both;
}

#sign-up {
    height: 900px;
    width: 100%;
    background-color: #3c4027;
}

#sign-up p {
    text-align: center;
    padding: 80px 0 30px;
    font-size: 110%;
    letter-spacing: 1px;
}

#booking-form {
    max-width: 40%;
    position: absolute;
    left: 10%;
    margin: 0 auto;
    padding: 50px 150px;
    font-size: 130%;
    line-height: 30px;
    letter-spacing: 1px;
}

.input-box {
    border: 2px solid #F8F9F9;
    border-radius: 5px;
    background-color: transparent;
    color: #F8F9F9;
    margin: 5px 0 20px 0;
    width: 100%;
    height: 30px;
    font-size: 90%;
}

.submit-button {
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    font-size: 110%;
    border-radius: 5px;
    text-align: center;
    display: block;
    color: #000000;
}

.submit-button:hover {
    background-color: #000000;
    color: #F8F9F9;
}

footer {
    background-color: #202916;
    width: 100%;
    height: 230px;
    font-size: 120%;
    line-height: 30px;
    letter-spacing: 1px;
}

#contacts {
    float: left;
    list-style-type: none;
    margin-left: 15%;
    padding-top: 50px;
}

#socials li {
    float: right;
    list-style-type: none;
    margin-right: 18%;
    padding-top: 100px;
    font-size: 170%;
}

#socials i {
    color: #F8F9F9;
}

#socials li:hover {
    border-bottom: 2px solid #F8F9F9;
} 

#gallery {
    width: 100%;
    height: 250px;
    background-color: #202916;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    background-color: #202916;
    padding-bottom: 200px;
}

#photos > img {
    width: 100%;
}

@media screen and (max-width: 1400px) {

    #logo {
        padding-right: 20px;
    }
    
    #about {
        height: 800px;
    }

    #rides-info {
        height: 1800px;
    }

    #indoor-ride, #outdoor-ride {
        float: left;
        width: 100%;
    }

    .indoor-img, .outdoor-img {
        float: left;
        margin-left: 375px;
    }

    .indoor-text, .outdoor-text {
        float: left;
        width: 50%;
        margin-left: 350px;
    }

    #contacts {
        float: left;
        margin-left: 130px;
    }

    /* gallery */
    #gallery {
        background-color: #202916;
        width: 100%;
        height: 350px;
    }
    
    #photos {
        column-count: 4;
    }
}

@media screen and (max-width: 1200px) {

    #menu {
        float: right;
        
    }
    
    #about {
        height: 1100px;
    }
    
    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
        
    }

    .left-about-text, .right-about-text, .center-about-text {
        float: left;
        padding-left: 20%;
    }

    #center-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #rides-info {
        height: 2100px;
    }

    .indoor-img, .outdoor-img {
        float: left;
        margin-left: 300px;
    }

    #contacts {
        margin-left: 20px;
    }

    /* gallery */
    #gallery h2 {
        float: left;
        padding-left: 20px;
    }
    
    #photos {
        column-count: 3;
    }
}

@media screen and (max-width: 950px) {

    #about {
        height: 1100px;
    }

    #rides-info {
        height: 2200px;
    }

    .indoor-img, .outdoor-img {
        float: left;
        margin: 0 auto;
        position: relative;
        margin-left: 175px;
    }

    .indoor-text, .outdoor-text {
        float: left;
        width: 50%;
        margin-left: 270px;
    }

    /* gallery */
    #photos {
        column-count: 2;
    }
}

/* phone screen size */
@media screen and (max-width: 320px) {

    #logo {
        font-size: 300%;
    }

    h2, h3 {
        font-size: 140%;
    }

    #menu li {
        float: right;
        margin: 0;
        padding: 7px;
        font-size: 80%;
    }

    #hero-image {
        height: 400px;
        padding-left: 300px;
    }

    #about {
        height: 1200px;
    }

    .left-about-text, .right-about-text, .center-about-text {
        font-size: 80%;
        padding-left: 30px;
        width: 80%;
    }

    .indoor-text, .outdoor-text {
        font-size: 80%;
        width: 80%;
        padding-left: 30px;
        margin: 0;
    }

    .indoor-img, .outdoor-img {
        margin: 0;
        right: 50%;
    }

    #sign-up {
        height: 800px;
    }
    
    #booking-form {
        max-width: 80%;
        left: 10%;
        padding: 0;
        font-size: 100%;
    }

    footer {
        height: 200px;
        font-size: 100%;
        line-height: 20px;
    }
    
    #contacts {
        margin: 0;
        padding: 10px;
    }
    
    #socials li {
        margin: 0;
        float: left;
        padding: 15px 30px;
        font-size: 200%;
    }

    /* gallery */
    #photos {
        column-count: 1;
    }

    #gallery h2 {
        font-size: 110%;
        padding: 5px;
    }
}

/* screen size for iPhone XR */
@media screen and (max-width: 414px) {

    #logo {
        font-size: 240%;
        padding: 2%;
        letter-spacing: 0;
        line-height: 110%;
    }

    #menu {
        float: left;
        line-height: 150%;
    }

    #menu li {
        margin-right: 0;
        padding: 10px;
        font-size: 90%;
    }
    
    footer {
        height: 100%;
        font-size: 90%;
        line-height: 100%;
        letter-spacing: 0;
    }

    #contacts {
        margin-left: 1%;
        padding-top: 0;
    }
    
    #socials li {
        margin-right: 1%;
        padding: 5%;
        font-size: 200%;
    }

    #photos {
        column-count: 2;
        padding-bottom: 8%;
    }
}


/* screen size for iPhoneSE */
@media screen and (max-width: 375px) {
    #logo {
        font-size: 200%;
        padding: 2%;
        letter-spacing: 0;
        line-height: 100%;
    }

    header {
        background-color: #202916;
    }

    #menu {
        float: left;
        line-height: 100%;
    }

    #menu li {
        margin-right: 0;
        padding: 10px;
        font-size: 70%;
    }

    footer {
        height: 100%;
        font-size: 80%;
        line-height: 100%;
        letter-spacing: 0;
    }

    #contacts {
        margin-left: 1%;
        padding-top: 0;
    }
    
    #socials li {
        margin-right: 1%;
        padding: 5%;
        font-size: 200%;
    }

    #photos {
        column-count: 1;
        padding-bottom: 5%;
    }
}