@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: green;
}

/* headings and logo */

h1, h2 {
    font-family: Noto Sans Japanese, sans-serif;
    letter-spacing: 1px;
    color: #F8F9F9;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 1px;
}

/* must target li elements not the whole ul for each one to float right correctly */

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}